* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

  .about-container {
    background-color: #f4f4f4;
    color: black;
  }

  .navbar {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures space between logo and navbar items */
}
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
  }

  .navbar ul {
    display: flex;
    gap: 5em;
    list-style: none;
    margin-right: 2em;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }

  #logo {
    margin-left: 2em;
    font-weight: 700;
  }

  .top-container {
    text-align: center;
    margin: 0 auto;
    
  }

  .top-container h1 {
    font-size: 45px;
    max-width: 35%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .top-container p {
    font-size: 20px;
    margin: 0 auto;
    line-height: 1.5;
    max-width: 30%;
    margin-bottom: 10em;
  }


  .text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2em;
    gap: 2em;
  }

  .text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    gap: 20px;
  }

  .text-content p {
    width: 70%;
    line-height: 1.5;
  }


  .img-container {
    flex: 1;
    max-width: 40vw;
    margin-right: 3em;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #img2 {
    flex: 1;
    max-width: 40vw;
    margin-left: 3em;
  }