@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
  background-color: #FEFAE0;
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

.play-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  min-height: 100vh;
  background-color:#FEFAE0;
}

/* Testing to see if git works now :'( */

.button-help {
  text-align: center;
  display: flex;                
  gap: 2em;   
  padding-bottom: 2%;    
}

.btn-action {
  display: flex;                
  align-items: center;          
  gap: 0.5em;              
}

.button-help code {
  background-color: #BC6C25;
  border-radius: 10px;
  border: 0.5px solid #542e0e;
  padding: 5px 15px;          
  color: #FEFAE0;      
  font-size: 14px;
  vertical-align: middle;       /* Ensures code element aligns in middle */
}

.btn-action span {
  font-size: 14px;
  color: #283618;       
  margin: 0;   
}


.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;  
  margin: 0 auto; 
}

.react-codemirror2 > .CodeMirror:first-child { display: none; }


.parser-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 50%;
  background-color: #FEFAE0 !important;
  margin-left: 1%  !important;
}

.codemirror-container {
  display: flex;
  flex: 1;
  width: 45%;
}

.CodeMirror {
  background-color: #e3dec3 !important;
  border-radius: 15px !important;
  border: none !important;
  color: #ffd000 !important;
  min-height: 50vh !important;
  font-size: 18px;
  max-width: 95%;
  border: 0.5px solid #542e0e !important;
}

.CodeMirror-gutter {
  background-color: #d3ceb2 !important;
  
}

.CodeMirror-cursor {
  border: 1px solid black !important;
  opacity: 0.7 !important;
}

.CodeMirror-scroll {
  overflow-x: scroll !important;
  overflow-y: scroll !important;
}

.cm-s-material.CodeMirror { 
color: #283618 !important;
}

.cm-s-material .cm-variable {
  color: #de6800 !important;
}

.cm-operator {
  color: #283618 !important;
}

.drawing-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  max-height: 90%;
  background-color: #FEFAE0 !important;
  margin: 0 auto;
  margin-top: 0.5%;
}

.drawing-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  max-width: 90% !important;
  max-height: 90% !important;
  background-color: #FEFAE0 !important;
  margin: 0;
  box-sizing: border-box;
  /* border-radius: 15px; */
  margin-right: 2%;
}

#downloadBtn {
  background-color: #DDA15E;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 auto;
  font-size: 10px;
  transition: 0.2s;
}

#downloadBtn:hover {
  background-color: #de6800;
}

/* .drawingName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawingName input{
  background-color: #BC6C25;
  border-radius: 10px;
  padding: 5px 15px;          
  color: #FEFAE0;      
  font-size: 16px;
  vertical-align: middle;
  border: none;
  margin: 5% 1%;
}
 */


/* Responsive design */


  @media (max-width: 768px) {

.button-help {             
  gap: 5%;   
  padding-bottom: 2%;                  
}

.btn-action {
  display: flex;                
  align-items: center;          
  gap: 0.5em;              
}

.button-help code {
  background-color: #BC6C25;
  border-radius: 10px;
  padding: 5px 5px;          
  color: #FEFAE0;      
  font-size: 10px;
  vertical-align: middle;       /* Ensures code element aligns in middle */
}

.btn-action span {
  font-size: 10px;
  color: #283618;       
  margin: 0;   
}
#downloadBtn {
  background-color: #de6800;
}
.CodeMirror {
  font-size: 14px;
  min-height: 70vh !important;
}
.parser-container {
  width: 45%;
}
  }

  /* Tablets */
  @media (max-width: 1024px) {

  }