@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
  background-color: #FEFAE0;
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

.play-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px; 
  height: 100%;
  background-color:#FEFAE0;
}

.button-help {
  z-index: 2;
  display: flex;                
  gap: 2em;                     
  margin-left: 1%;
  margin-bottom: 19em;           
}

.btn-action {
  display: flex;                
  align-items: center;          
  gap: 0.5em;                  
}

.button-help code {
  background-color: #DDA15E;
  border-radius: 5px;
  padding: 5px;          
  color: #FEFAE0;      
  font-size: 14px;
  vertical-align: middle;       /* Ensures code element aligns in middle */
}

.btn-action span {
  font-size: 14px;
  color: #283618;       
  margin: 0;   
}


.container2 {
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin: auto;
  width: 100%;  
  align-items: flex-start;  
}

.react-codemirror2 > .CodeMirror:first-child { display: none; }


.parser-container {
  display: flex;
  /* justify-content: space-between; */
  /* width: 100vw; */
  align-items: flex-start;
  /* margin: 20px; */
  height: 100%;
  width: 100%;
  margin-left: 1%;
  margin-top: 2%;
}

.CodeMirror {
  background-color: #e3dec3 !important;
  border: none !important;
}

.CodeMirror-gutter {
  background-color: #d3ceb2 !important;
}

.drawing-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh !important;
  margin-top: 1%;
}

.drawing-container canvas {
  width: 100%;
  height: 100%;
  background-color: #FEFAE0 !important;
}

#canvas {
  height: 100vh;
  
}



/* .quilt-container {
  display: flex;
  flex-direction: column;
} */

/* .button-container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 10px 20px;
  background-color:#CAE9FF;
}

.button-container button {
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  cursor: pointer;
}

.button-container h1 {
  font-size: 45px;
  margin: 0;
  text-align: center;
  flex: 1;
  color: #1B4965;
}

#home-button, #submit-button, #clear-button, #example-button {
  min-width: 80px;
}

#home-button a, #example-button a {
  text-decoration: none;
  color: black;
} */
