
body {
  margin: 0;
  padding: 0;
  background-color:#CAE9FF;
  color: white;
  box-sizing: border-box;
}

.play-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px; 
  height: 100%;

}

.container2 {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  position: fixed;
}

.react-codemirror2 > .CodeMirror:first-child { display: none; }
/* 
.navbar {
  margin-top: 0;
  background-color: #CAE9FF;
  padding: 10px;
  margin-bottom: 10px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  display: flex;
  gap: 5em;
  list-style: none;
  margin-right: 2em;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

#logo {
  margin-left: 2em;
  font-weight: 700;
} */

.play-header {
  position: fixed;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-header button {
  font-size: 15px;
  padding: 10px 20px;
  width: 50%;
}

.parser-container {
  display: flex;
  /* justify-content: space-between; */
  /* width: 100vw; */
  align-items: flex-start;
  /* margin: 20px; */
  height: 100%;
  position: fixed;
  top: 7%;
  left: 0;
  background-color:#CAE9FF;
}

.CodeMirror {
  width: 50vw;
  border: 2px solid white;
  min-height: 800px;
}



.drawing-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
  position: fixed;
  top: 7%;
  left: 50%;
  background-color:#CAE9FF;
}


.drawing-container canvas {
  width: 100%;
  height: 800px;
  background-color: white;
}

.quilt-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 10px 20px;
  background-color:#CAE9FF;
}

.button-container button {
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  cursor: pointer;
}

.button-container h1 {
  font-size: 40px;
  margin: 0;
  text-align: center;
  flex: 1;
  color: #1B4965;
}

#home-button, #submit-button, #clear-button {
  min-width: 80px;
}

#home-button a {
  text-decoration: none;
  color: black;
}
