* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  

  .navbar {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures space between logo and navbar items */
    position: fixed;
    top: 0;
    left: 0;
}
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
  }

  .navbar ul {
    display: flex;
    gap: 5em;
    list-style: none;
    margin-right: 2em;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }

  #logo {
    margin-left: 2em;
    font-weight: 700;
  }

  h1 {
    text-align: center;
    font-size: 55px;
  }

.container {
    margin: 0;
    height: 100%;
}

.picture-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 10em;
    height: 100vh;
    overflow-y: auto;
    padding-top: 10%;
}

img {
    width: 90%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
    transition: 0.6s;
}

img:hover {
    transform: scale(1.02);
    cursor: pointer;
}